p {
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
}

.nav-item {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

.navbar-brand {
    font-family: 'Times New Roman', Times, serif;
}

body {
    background-color:ghostwhite;
}

.small {
    color: teal;
}

.videoEdits {
    width: 100%;
    height: 500px;
}
